/*
.uw-thinstrip .uw-wordmark {
  display: block;
  position: absolute;
  top: 0px;
  left: 150px;
  text-indent: -9999px;
  width: 402px;
  height: 48px;
  background: url(../assets/img/UWRegistrar_revsm.png) no-repeat;

}
*/
